/node_modules
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
**/.DS_Store
__MACOSX/
*.zip
*.mp4
*.glb
*.psd
composer.phar
/Site/
/public/theme*/
/public/backend_assets/
/public/public/
/crm/vendor/
/public/images/
/public/img/
/public/gallery/
/crm/assets/
/backend_assets/
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/bootstrap/cache/*.php
!bootstrap/cache/.gitignore
